<!DOCTYPE html>
<!-- This site was created in Webflow. https://www.webflow.com -->
<!-- Last Published: Wed Sep 06 2023 07:39:40 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="shadows-template.webflow.io" data-wf-page="64d9e7b1693ca5d7a467c49f" data-wf-site="64d9e7b1693ca5d7a467c4b4">
<!-- Mirrored from shadows-template.webflow.io/careers by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Nov 2023 06:29:19 GMT -->

<head>
  <%- include("../partials/imports.ejs",{title:"Some Event"}) %>
  <style>
    @media (min-width:992px) {
      html.w-mod-js:not(.w-mod-ix) [data-w-id="79dc5a24-ec74-59f4-ca5d-c31a66477a91"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      }

      html.w-mod-js:not(.w-mod-ix) [data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7532"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      }
    }

    @media (max-width:991px) and (min-width:768px) {
      html.w-mod-js:not(.w-mod-ix) [data-w-id="79dc5a24-ec74-59f4-ca5d-c31a66477a91"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      }

      html.w-mod-js:not(.w-mod-ix) [data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7532"] {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      }
    }

    @media (max-width:767px) and (min-width:480px) {
      html.w-mod-js:not(.w-mod-ix) [data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7531"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      }

      html.w-mod-js:not(.w-mod-ix) [data-w-id="79dc5a24-ec74-59f4-ca5d-c31a66477a90"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      }
    }

    @media (max-width:479px) {
      html.w-mod-js:not(.w-mod-ix) [data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7531"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      }

      html.w-mod-js:not(.w-mod-ix) [data-w-id="79dc5a24-ec74-59f4-ca5d-c31a66477a90"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      }
    }
  </style>
</head>

<body>
  <!-- TEMPLATE CAREERS.HTML -->
  <%- include("../partials/navbar.ejs") %>

  <% if(!darkMode) { %>
    <section class="relative-container gradient-border" style="background-color: white; margin:3px">
      <div class="title-container">
        <div class="h-container title font-control">
          <%= eventInfo.name %>
        </div>
      </div>
    </section>
    <section>
      <div class="relative-container">
        <img src="/images/Events/event.png" alt="temporary event image" class="blog-post-main-image">
        <div class="luminous-borders-container z-index-1">
          <!-- <div class="luminous-borders-blur"></div> -->
          <!-- <div class="luminous-borders-solid"></div> -->
        </div>
      </div>
    </section>
    <section class="relative-container gradient-border" style="background-color: white; margin:3px">
      <div class="container w-container">
        <div class="spacer-4em---48px"></div>
        <div class="section-header">
          <div class="page-header-container">
            <!-- <div data-w-id="da8a409e-41c5-1902-3289-c03f3f5c752c" class="heading-animation-trigger">
              <div style="-webkit-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="animation-content">
                <h1 class="overline white">why us</h1>
              </div>
            </div> -->
            <!-- <div class="spacer-1-3em---16px"></div> -->
            <div data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7531" class="heading-animation-trigger">
              <div data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7532" class="animation-content">
                <% if(userUniqueCode) {%>
                <a class="explore" href="#" onclick="event.preventDefault()" id="registerLink">
                  <h2 data-w-id="c3b47097-3b83-ac05-98fb-2c3755fdd8c6" class="cta-tilte" style="color: #1e1e1e;">
                    <strong>You're Registered!<br /> </strong>
                    <strong>Your Unique Code is: <span class="title"><%= userUniqueCode %></span></strong>
                  </h2>
                </a>
                <% } else { %>
                <a class="explore" style="color:#1e1e1e" href="/events/register/<%= eventID %>" id="registerLink">
                  <h2 data-w-id="c3b47097-3b83-ac05-98fb-2c3755fdd8c6" class="cta-tilte">
                    <strong class="title">Register Now -></strong> 
                  </h2>
                </a>
                <% } %>
              </div>
            </div>
            <% if(userUniqueCode) { %>
              <!-- <div class="spacer-1-3em---16px"></div>  -->
              <p data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7536" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="text-md">
                  Give this code at the event entrance to confirm your attendance.
              </p> 
            <% } %>
          </div>
        </div>
        <div class="spacer-4em---48px"></div>
      </div>
      <div class="luminous-borders-container">
        <!-- <div class="luminous-borders-blur no-bottom no-top"></div> -->
        <!-- <div class="luminous-borders-solid no-bottom no-top"></div> -->
      </div>
    </section>
  <% } else { %>
    <section style="margin-top: 25px;">
      <div class="w-layout-blockcontainer container w-container">
        <div class="luminous-borders-container">
          <div class="luminous-borders-blur "></div>
          <div class="luminous-borders-solid "></div>
        </div>
        <div class="section-title-container">
          <div data-w-id="e8bb4201-881a-a9ed-a996-8815788a7bfb" class="heading-animation-trigger padding">
            <div style="-webkit-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="animation-content">
              <h2 class="section-title-line"><%= eventInfo.name %></h2>
              <div class="section-title-blur"><%= eventInfo.name %></div>
            </div>
          </div>
        </div>
        <div class="noise-background"></div>
        <div class="white-background"></div>
      </div>
    </section>
    <section>
      <div class="relative-container">
        <!-- <img srcset="https://assets.website-files.com/64d9e7b1693ca5d7a467c4b4/64d9e7b1693ca5d7a467c4e1_team-2-p-500.jpeg 500w, https://assets.website-files.com/64d9e7b1693ca5d7a467c4b4/64d9e7b1693ca5d7a467c4e1_team-2-p-800.jpeg 800w, https://assets.website-files.com/64d9e7b1693ca5d7a467c4b4/64d9e7b1693ca5d7a467c4e1_team-2-p-1080.jpeg 1080w, https://assets.website-files.com/64d9e7b1693ca5d7a467c4b4/64d9e7b1693ca5d7a467c4e1_team-2-p-1600.jpeg 1600w, https://assets.website-files.com/64d9e7b1693ca5d7a467c4b4/64d9e7b1693ca5d7a467c4e1_team-2-p-2000.jpeg 2000w, https://assets.website-files.com/64d9e7b1693ca5d7a467c4b4/64d9e7b1693ca5d7a467c4e1_team-2.jpeg 2500w" loading="lazy" sizes="100vw" src="../assets.website-files.com/64d9e7b1693ca5d7a467c4b4/64d9e7b1693ca5d7a467c4e1_team-2.jpg" alt="team" class="blog-post-main-image" />-->
        <img src="/images/Events/event.png" alt="temporary event image" class="blog-post-main-image">
        <div class="luminous-borders-container z-index-1">
          <div class="luminous-borders-blur"></div>
          <div class="luminous-borders-solid"></div>
        </div>
      </div>
    </section>
    <section class="relative-container">
      <div class="spacer-4em---48px"></div>
      <div class="container w-container">
        <div class="section-header">
          <div class="page-header-container">
            <!-- <div data-w-id="da8a409e-41c5-1902-3289-c03f3f5c752c" class="heading-animation-trigger">
              <div style="-webkit-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="animation-content">
                <h1 class="overline white">why us</h1>
              </div>
            </div> -->
            <!-- <div class="spacer-1-3em---16px"></div> -->
            <div data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7531" class="heading-animation-trigger">
              <div data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7532" class="animation-content">
                <% if(userUniqueCode) {%>
                <a class="explore" href="#" onclick="event.preventDefault()" id="registerLink">
                  <h2 data-w-id="c3b47097-3b83-ac05-98fb-2c3755fdd8c6" class="cta-tilte">
                    <strong>You're Registered!<br /> </strong>
                    <strong>Your Unique Code is: <span class="title"><%= userUniqueCode %></span></strong>
                  </h2>
                </a>
                <% } else { %>
                <a class="explore" href="/events/register/<%= eventID %>" id="registerLink">
                  <h2 data-w-id="c3b47097-3b83-ac05-98fb-2c3755fdd8c6" class="cta-tilte">
                    <strong>Register Now -></strong>
                  </h2>
                </a>
                <% } %>
              </div>
            </div>
            <% if(userUniqueCode) { %>
              <!-- <div class="spacer-1-3em---16px"></div>  -->
              <p data-w-id="da8a409e-41c5-1902-3289-c03f3f5c7536" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="text-md">
                  Give this code at the event entrance to confirm your attendance.
              </p> 
            <% } %>
          </div>
        </div>
      </div>
      <div class="spacer-4em---48px"></div>
      <div class="luminous-borders-container">
        <div class="luminous-borders-blur no-bottom no-top"></div>
        <div class="luminous-borders-solid no-bottom no-top"></div>
      </div>
    </section>
  <% } %>
  <%- include("../partials/footer.ejs") %>
</body>

</html>